<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css" />
    <% if (typeof pageStyle !== 'undefined') { %>
    <link rel="stylesheet" href="/css/<%= pageStyle %>.css" />
    <% } %>
  </head>
  <body>
    <% layout('layouts/main') %>
    <main><%- body %></main>
  </body>
</html>
